Repository pulp-platform/snitch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zarubaf, @thommythomaso, @SamuelRiedel, @paulsc96, @niwis

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

*       @zarubaf

# The DMA is owned by @thommythomaso
hw/ip/snitch_dma @thommythomaso

sw/banshee @SamuelRiedel @paulsc96

# Occamy RTL is also owned by @niwis
hw/system/occamy @niwis @zarubaf

ssr: Fix small problem with default
  hw/ip/snitch_ssr/src/snitch_ssr.sv
Owners: @zarubaf

wt_dcache: Fix assertion only on valid data
  hw/vendor/openhwgroup_cva6/src/cache_subsystem/wt_cache_subsystem.sv
  hw/vendor/patches/openhwgroup_cva6/0005-wt_dcache-Fix-assertion-only-on-valid-data.patch
Owners: @zarubaf

tb: Format addresses as hex
  hw/ip/test/src/common_lib.cc
Owners: @zarubaf

occamy: Add UART receiver in testbench
  hw/system/occamy/Bender.yml
  hw/system/occamy/Makefile
  hw/system/occamy/test/testharness.sv
  hw/system/occamy/test/testharness.sv.tpl
  hw/system/occamy/test/uartdpi/README.md
  hw/system/occamy/test/uartdpi/uartdpi.c
  hw/system/occamy/test/uartdpi/uartdpi.h
  hw/system/occamy/test/uartdpi/uartdpi.sv
Owners: @niwis, @zarubaf

lint: Make linter happy
  hw/ip/test/src/common_lib.cc
  hw/system/occamy/test/uartdpi/uartdpi.c
  hw/system/occamy/test/uartdpi/uartdpi.h
  hw/system/occamy/test/uartdpi/uartdpi.sv
  util/occamygen.py
  util/solder/device_tree.py
  util/verible-lint
Owners: @zarubaf, @niwis

Update bootrom for OpenSBI boot
  hw/system/occamy/Makefile
  hw/system/occamy/test/bootrom.S
  hw/system/occamy/test/bootrom.bin
  hw/system/occamy/test/bootrom.dump
  hw/system/occamy/test/bootrom.elf
  hw/system/occamy/test/bootrom.ld
  hw/system/occamy/test/occamy.dtb
  hw/system/occamy/test/occamy.dts
  util/occamygen.py
  util/solder/device_tree.py
Owners: @niwis, @zarubaf

Re-name `occamy_cluster_cfg` to `occamy_cfg`
  hw/system/occamy/Makefile
  hw/system/occamy/src/occamy_cfg.hjson
  util/occamygen.py
Owners: @niwis, @zarubaf
